.topbar {
    height: 50px;
    background: red;
}

.content{
    max-width: 1000px;
    margin-top:20px;
  }
  
  .profile-container {
    width:30%;
    max-width:300px;
  }
  
  .b {
    border:1px solid red;
  }
  
  .b1 {
    border:1px solid green;
  }
  
  .btn-new-plant {
    border-radius: 30px;
  }

  .plant-element {
    border-radius: 0px;
    font-size:14px;
    border-top:0px;
  }
  
  .plant-element:first-child {
    border-top:1px solid #ddd;
  }

  /* Photo gallery Part */

  .photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }

  .plant-gallery-element {
    width: 300px;
    height: 300px !important;
  }

/* Delete button in image gallery */
.btn-gallery-delete {
  position: absolute;
  top: -5%;
  right: 0%;
}