div(class="profile-container bg-white mr-3 d-flex flex-column")
    div(class="d-flex flex-row justify-content-center align-items-center")
      img(src="" class="img-fluid")
    div(class="d-flex flex-row justify-content-center align-items-center my-3")
      p= `${ currentUser.username } (${ currentUser.local.email })`