extends ../layout.pug

block content
  script(src="/javascripts/plants/plant.js")
  div(class="container-fluid")
    div(class="row mt-5 px-5" id="plants-list-container")
      include plants-list.pug